
/* ***************************************************************** */

.regihead1{
  font-size: 2.5rem;
  padding-top: 60px;
  color: #333231;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 70px;
}

.registercourse{
  width: 80%;
  height: 700px;
  margin-left: 150px;
  border-radius: 5px;
  border: 3px solid #333231;
  border-top-color: rgb(6, 6, 160);
}

/* **************infromation************** */

.infopara1{
  font-family: Montserrat,sans-serif;
  color: #1C85C8;
  font-size: 50px;
  padding-left: 30px;
  letter-spacing: 1px;

}

.matcardsty1{
  border:  8px ;
  box-shadow: 10px 10px 10px 10px rgb(155 155 155 / 20%);
  height: 300px;
  width: 600px;
  border-radius: 15px;
}

.matcard1tit{
  color: #454545; 
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.matcard1cont{
 font-size: 22px;
 color: #686868;
 font-family: Hind Madurai, sans-serif;
}

 /* *************footer****************  */

 .footer{
  bottom: 0;
  width: 100%;
  background-color: #1F57C3;
  color: white;
  text-align: center;
  font-size: 15px;
  overflow-x: hidden;
  padding: 7px;

}