<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>


    <div id="sect1" class="container" >
        <div
            style=" line-height: 60px;font-size: 50px;padding-top: 180px;color:#FFFFFF;font-family:Verdana, Geneva, Tahoma, sans-serif;padding-left: 550px;">
            <p>Join the world's best</p>
            <p> Front end </p>
            <p>Framworks</p>
        </div>
    </div>

    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

    <!-- <mat-card>
        <mat-card-title>This is my card </mat-card-title>
        <mat-card-content> This is nAngular Freame work. It is very user-friendly framwork. it is based to the TypeScript language.</mat-card-content>





    <*********************/mat-card***************> -->
<div>

    <div style="background-color: rgb(234, 241, 241);" >



        <div class="conmat1" style="padding-top: 60px; padding: 50px;">
            <mat-card class="mat01" style="background-color:#FFFF;">
                <mat-card-title><a href="https://angular.io/" style="text-decoration: none;">Angular</a>
                </mat-card-title>
                <mat-card-content style="font-size: 17px;">  This is Angular work station in ouruniversityworkspace
                    This is the Angular Freame work. It is very user-friendly framwork. it is based to the TypeScript language.
                </mat-card-content>
            </mat-card>
        </div>

        <div class="mat2  conmat1">
            <mat-card class="mat02" style="background-color:#FFFF;">
                <mat-card-title> <a href="https://reactjs.org/" style="text-decoration: none;">React </a>
                </mat-card-title>
                <mat-card-content style="font-size: 17px;"> 
                ReactJS offers graceful solutions to some of front-end programming’s most persistent issues,
                allowing you to build dynamic and interactive web apps with ease. It’s fast, scalable, 
                flexible, powerful, and has a robust developer community that’s rapidly growing.
                There’s never been a better time to learn React.

                </mat-card-content>

            </mat-card>

        </div>

        <div class="mat2 conmat1">
            <mat-card style="background-color:#FFFF;">
                <mat-card-title> <a href="https://vuejs.org/" style="text-decoration: none;">VIU</a></mat-card-title>
                <mat-card-content style="font-size: 17px;">
                Vue is a progressive framework for building user interfaces.
                Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable.
                The core library is focused on the view layer only, and is easy to pick up and integrate with other
                libraries or existing projects.
                </mat-card-content>

            </mat-card>

        </div>

    </div>

</div>

    <!-- **************section 2************* -->
    <div class="container-fluid secttion2" style="border-radius: 12px; padding-top: 100px;">
        <div class="container-fluid ">
            <div class="row" style="height: 600px;padding-bottom: 50px;">
                <div class="col-sm-6 " id="section"></div>
                <div class="col-sm-6" style="background-color:#1F57C3;color: #FFFFFF;">
                    <h2 style="font-family:ProximaNova-Light;font-size: 25px;padding-top: 20px;">For talent </h2>
                    <div style="line-height: 60px;font-size: 63px;font-family:ProximaNova-Light;padding-top: 20px;">
                        <p>Find great</p>
                        <p>Work</p>
                    </div>
                    <div style="padding-top: 40px;">
                        <p>Meet clients you’re excited to work with and take
                            your career or business to new heights.</p>
                    </div>

                    <div style="padding-top: 100px;">
                        <button type="button" routerLink = "/button-overview-example" class="btn btn-primary btnstyle">Find Oppotunities</button>

                    </div>
                      
                </div>
            </div>
        </div>
    </div>


<!-- ****************information****************** -->

<div style="margin-top: 50px;">
    <div style="height: 600px; background-color: #e5ebe9;">
      <div class="circle">
        <div>
          <p class="par1">Top rated Angular website design company</p>
          <p class="par2">Our clients love us</p>
          <div style="text-align: center;color: #FFFFFF;line-height: 20px;padding-top: 50px;">
            <p>Don’t just take our word for it. Over the years, our</p>
            <p>Angular web design company has gotten some great</p>
            <p>positive feedback from our happy customers.</p>
          </div>
    
        </div>
    
      </div>
    </div>
  </div>


    <!-- ****************footer******************* -->

    <div>
        <div class="footer">
          <p style="padding-top: 10px;">Copyright &copy; 2021, All Right Reserved.</p>
        </div>
      </div>
    



</body>

</html>