<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body >

  <div class="row">
    <div class="column1" style="padding-right: 60px;">
      <div id="container">
        <a href="#" class="s3d dribbble">
          Dribbble
          <span class="icons dribbble"></span>
        </a>
        
        <a href="#" class="s3d twitter">
          Twitter
          <span class="icons twitter"></span>
        </a>
        
        <a href="#" class="s3d facebook">
          Facebook
          <span class="icons facebook"></span>
        </a>
        
        <a href="#" class="s3d forrst">
          Forrst
          <span class="icons forrst"></span>
        </a>
        
        <a href="#" class="s3d designmoo">
          Designmoo
          <span class="icons designmoo"></span>
        </a>
        
      
      </div>
    

    </div>


    <div class="column2" >
      <!-- *********01********* -->
      <!-- style="background-color: rgb(245, 243, 241); " -->

      <p class="col2par">#1.Angular - Developed by Google</p>
      <div style="padding-top: 25px;">
        <img style="width: 700px ;height: 400px;" src="/assets/images/combutton1.jpg" alt="Angular">
      </div>
      <p class="col2par">Everything You Need to Know About Angular</p>
      <p class="cal2par2">First released by Google as AngularJS in 2010, it went on to receive several updates in order
        to keep up with the need for advanced technology. The current version known as Angular 2+ which
        was deployed in 2016 happens to be one of the only frameworks based on TypeScript. Angular is
        an open-source platform and sets itself apart with its distinctive two-way data binding feature
        which instantly synchronizes between the model and the view and vice versa</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Things to Love about Angular</p>
      <p><b>i.</b> Angular produces clean code and makes it a lot easier to handle errors and bugs. Its two-way data
        binding
        reduces development time to a great extent ensuring high performance each time.
      <p> <b>ii.</b> Angular’s Directives feature helps in creating rich and dynamic content with HTML,
        while the Dependency injectors make components easier to test, manage and allow developers to
        reuse them as per their needs. </p>
      <p><b>iii.</b>Angular provides a fast loading time and includes a lot of third-party integrations
        that help developers enhance the overall functionality of the website. </p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Use Angular When</p>
      <p style="padding-left: 20px;">Building large enterprise-based applications</p>
      <p style="padding-left: 20px;">Creating dynamic web applications</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Avoid Using Angular When</p>
      <p style="padding-left: 20px;">Building small-scale simple applications</p>
      <p style="padding-left: 20px;">Building applications with limited scope</p>
      <p style="padding-left: 20px;">Working with a smaller team</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Popular Use Cases</p>
      <div style="padding-top: 10px;">
        <img style="width: 700px ;height: 400px;" src="/assets/images/combutton2.jpg" alt="Angular">
      </div>

      <!-- *********02********* -->
      <p class="col2par">#2.React - Facebook’s Brainchild</p>
      <div style="padding-top: 30px;">
        <img style="width: 700px ;height: 400px;" src="/assets/images/combutton3.jpg" alt="Angular">
      </div>

      <p class="col2par">Everything You Need to Know About Reactr</p>
      <p class="cal2par2">Initially created by Facebook, now an open-source network, React is amongst
        one of the most popular front-end frameworks javascript libraries featuring JSX syntax that
        helps in developing super responsive and highly interactive websites.</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Things to Love About React</p>

      <p><b>i.</b> The use of its virtual DOM enhances performance, provides a positive experience to both the
        user and the developer, and ensures the fast rendering of applications.</p>

      <p> <b>ii.</b> One of the best features of React is its components. Complex components can be broken down
        into smaller ones for ease of development. </p>

      <p><b>iii.</b>React is simple to use, easy to learn, and makes the development of dynamic web
        applications a smooth ride. </p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Use React When</p>
      <p style="padding-left: 20px;">Developing complex pages</p>
      <p style="padding-left: 20px;">Creating dynamic web applications</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Avoid Using Angular When</p>
      <p style="padding-left: 20px;">Developers have limited knowledge of JavaScript</p>
      <p style="padding-left: 20px;">Developers will face trouble using JSX Syntax</p>


      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Popular Use Cases</p>
      <div style="padding-top: 10px;">
        <img style="width: 700px ;height: 400px;" src="/assets/images/combutton4.jpg" alt="Angular">
      </div>

   


      <!-- *********03********* -->

      <p class="col2par">#3. Vue.js - Created by Evan You, who also developed AngularJs</p>
      <div style="padding-top: 30px;">
        <img style="width: 700px ;height: 400px;" src="/assets/images/combutton5.jpg" alt="Angular">
      </div>

      <p class="col2par">Everything You Need to Know About Vue.js</p>
      <p class="cal2par2">Vue.js also commonly known as Vue is going on to become very popular amongst
        frontend frameworks in 2021. Vue is a pretty simple, straightforward, and sorted in terms of
        helping you with multiple tasks and building progressive web and mobile apps along with web
        interfaces.</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Things to Love about Vue.js</p>

      <p><b>i.</b> Vue’s syntax is easy to read and understand, easy to install and test, and thus makes
        it easier for developers to grasp it quickly and work with it.</p>

      <p> <b>ii.</b> Vue provides exhaustive documentation for learners which makes it easier for them
        to handle complex operations. </p>

      <p><b>iii.</b>Its two-way data binding and presence of virtual DOM enhance its ability to develop
        both complex applications and simpler ones. </p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Use Vue.js When</p>
      <p style="padding-left: 20px;">Working on large-scale projects</p>
      <p style="padding-left: 20px;">You need support from the community of developers</p>

      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Avoid Using Angular When</p>
      <p style="padding-left: 20px;">Developers have limited knowledge of JavaScript</p>
      <p style="padding-left: 20px;">Developers will face trouble using JSX Syntax</p>


      <p class="col2par" style="font-size: 20px;padding-top: 20px;">Popular Use Cases</p>
      <div style="padding-top: 10px;">
        <img style="width: 700px ;height: 400px;" src="/assets/images/combutton6.jpg" alt="Angular">
      </div>

      <!-- *******************line********************** -->
      <div style="padding-top: 80px;">
        <hr style="background-color: #1F57C3;; height: 2.5px;width: 700px;">
        </div>
    
        <div>
        <p class="col2par" >Conclusion</p>
        <p class="cal2par2" style="font-size: 20px;">So, here it is. The best frontend frameworks of 2021 that will help
          you build fast-loading, browser compatible, feature-rich websites for
          your business. Choosing which frontend framework to use completely depends
          on the scope of your project and the size of your team. We hope we’ve
          eased the decision-making process of selecting the best frontend 
          framework with the help of this blog.</p>
      </div>
    </div>

    <div class="column3" >

      <mat-card class="examplecard" style="margin-left: 15px;" >
        <mat-card-header>
          <mat-card-title style="font-family: 'Times New Roman', Times, serif;">Author</mat-card-title>
          <div mat-card-avatar class="example-header-image"></div>

          <mat-card-title style="font-size: 17px;padding-right: 30px;">Front-end developer</mat-card-title>
        </mat-card-header>

        <div  class="card1">
          <img mat-card-image src="https://www.smallrevolution.com/wp-content/uploads/2020/12/small-revolution-remote-jobs-web-developer.jpg"
        alt="Photo of a Shiba Inu">
        </div>
  
        <mat-card-content style="padding-top: 90px; font-family: inherit;font-family:  'ProximaNova-Light';font-size: inherit;">
       
        </mat-card-content>Angular is a platform and framework for building single-page client applications using HTML and 
          TypeScript. Angular is written in TypeScript. 
    

      </mat-card>
    </div>
  </div>

  <!-- ****************footer******************* -->

  <div style="padding-top: 30px;">
    <div class="footer">
      <p style="padding-top: 10px;">Copyright &copy; 2021, All Right Reserved.</p>
    </div>
  </div>



</body>

</html>







